container_commands:
  setup_application:
    command: /usr/local/bin/setup_servers.sh
    ignoreErrors: true


files:
  /usr/local/bin/setup_servers.sh:
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/sh -x
      # directory which holds the configuration files
      ConfigDir="aws_config"

      if [ -f /usr/local/etc/eb-resources ]; then
        source /usr/local/etc/eb-resources
      fi

      if [ ! -f aws_config/shell-vars ]; then
        echo "Environment vars not found for runtime"
      fi

      SED_PATTERNS=""
      list=`cat aws_config/shell-vars | cut -d "=" -f 1`;
      # hate this
      source aws_config/shell-vars;

      for item in ${list//\\n/ } ; do
         variable=$(echo $item|cut -d "=" -f 1 );
         value=$(eval echo \${$variable});
         SED_PATTERNS="${SED_PATTERNS} s~__${variable}__~${value}~g;"
      done


      if [ -z "${SED_PATTERNS}" ]; then
           echo "Nothing to replace"
      else
        for j in `ls $ConfigDir`; do
          for file in $( find $ConfigDir/$j -type f -iname "*.template" ); do
            FN=${file##*/}
            cat $file | sed "${SED_PATTERNS}" > ${file%%.template}
          done
        done
      fi
